@font-face{
	font-family: 'Proxima Nova'; 
	src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Proxima Nova'; 
	src: url('../fonts/ProximaNova-SemiBold.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 600;
}

@font-face{
	font-family: 'Proxima Nova'; 
	src: url('../fonts/ProximaNova-ExtraBold.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 900;
}