// .tpg - typoraphy prefix

body,
button{
	font-size: 16px;
	line-height: 1.87;
	font-family: $main-font;
}

body{
	color: $text-color;
}

.tpg{
	color: $text-color;

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}

	p{
		font-size: 16px;
		line-height: 1.87;
		margin: 0 0 1.87em;

		&:last-child{
			margin-bottom: 0;
		}
	}

	a:not(.btn){
		color: $primary;

		&:hover{
			text-decoration: underline;
		}
	}

	h1{
		font-size: 72px;
		line-height: 1.167;
		font-weight: 900;
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	h2, h3{
		font-size: 36px;
		line-height: 1.28;
		font-weight: bold;
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	h4{
		font-size: 32px;
		line-height: 1.156;
		font-weight: bold;
	}

	// ul, ol{
	// 	margin-bottom: 25px;

	// 	&:last-child{
	// 		margin-bottom: 0;
	// 	}

	// 	li{
	// 		margin-bottom: 2px;
	// 		position: relative;
	// 		padding-left: 20px;

	// 		&:last-child{
	// 			margin-bottom: 0;
	// 		}

	// 		&:before{
	// 			content: '';
	// 			display: block;
	// 			width: 11px;
	// 			height: 11px;
	// 			border-radius: 50%;
	// 			background: $primary;
	// 			z-index: -1;
	// 			position: absolute;
	// 			left: 0;
	// 			top: 6px;
	// 		}
	// 	}
	// }

	// ol{
	// 	counter-reset: ol;

	// 	li{
	// 		counter-increment: ol;

	// 		&:before{
	// 			content: counter(ol)'.';
	// 			font-weight: bold;
	// 			font-style: italic;
	// 			font-size: 16px;
	// 			line-height: 11px;
	// 			display: block;
	// 			line-height: 1;
	// 			background: transparent;
	// 			color: $primary;
	// 			top: 4px;
	// 		}
	// 	}
	// }
}

.section-caption{
	margin-bottom: 25px;

	&:last-child{
		margin-bottom: 0;
	}

	a{
		color: $primary;

		&:hover{
			color: darken($primary, 10%);
		}
	}

	.sc-title{
		font-size: 28px;
		line-height: 1.214;
		font-weight: 600;
		color: $text-dark;
		padding-left: 50px;
		position: relative;
		text-transform: uppercase;

		&:before{
			content: '';
			display: block;
			width: 36px;
			height: 4px;
			background: $primary;
			position: absolute;
			top: 15px;
			transform: translateY(-50%);
			left: 0;
		}
	}

	.sc-subtitle{
		font-size: 16px;
		line-height: 1.87;
		margin-top: 16px;

		strong{
			color: $primary;
		}
	}

	&.overline{
		.sc-title{
			padding-top: 34px;
			text-align: center;
			padding-left: 0;

			&:before{
				width: 110px;
				height: 3px;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&.with-red-line{
		.sc-title{
			text-indent: -50px;

			&:before{
				font-size: inherit;
				top: 1.7em;
			}
		}
	}

	@media screen and (max-width: 991px){
		.sc-title{
			font-size: 20px;

			&:before{
				top: 11px;
			}
		}
	}
}

.text-link{
	font-size: 15px;
	line-height: 1.4;
	color: $primary;
	font-weight: 600;
	text-decoration: underline;

	.link-icon{
		width: 18px;
		height: 18px;
		display: block;
		fill: $primary;
		margin-right: 9px;
		transition: all $t;
	}

	&.with-icon{
		display: flex;
		align-items: center;
	}

	&:hover{
		color: #000;

		.link-icon{
			fill: #000;
		}
	}
}

.page-caption{
	margin-bottom: 25px;

	.pc-title{
		font-size: 72px;
		line-height: 1.167;
		font-weight: 900;
		margin-bottom: 2px;
	}

	.pc-subtitle{
		font-size: 20px;
		line-height: 1.5;
		color: $primary;
	}
}

.tick-list{
	display: flex;
	width: calc(100% + 15px * 2);
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;
	align-items: flex-start;
	
	li{
		padding: 0 15px 0 50px;
		width: 50%;
		display: flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 16px;

		&:before{
			content: '';
			width: 22px;
			height: 22px;
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='255' height='255' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M127.5 255a127.5 127.5 0 110-255 127.5 127.5 0 010 255zm0-23.2a104.3 104.3 0 100-208.6 104.3 104.3 0 000 208.6zm38.2-147.3L104.3 146l-26.6-26.6-16.3 16.4 43 43 77.7-77.8-16.4-16.4z' fill='%23FA6C06'/%3e%3c/svg%3e") no-repeat center center / contain;
			position: absolute;
			display: block;
			left: 15px;
			top: 0;
		}
	}
}