// Fonts
$main-font: 'Proxima Nova', Arial, sans-serif;
$second-font: $main-font;
// $third-font: 'Playfair Display SC', serif;

// Colors
$red: #E23936;

$dark: #000;
$gray: #313131;
$light: #99A2B4;

$text-color: $gray;
$text-dark: $dark;
$text-light: #6B6B6B;

$primary: $red;
$accent: $red;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration
$r: 5px; // default border radius
$shadow: 0px 5px 15px rgba(0, 0, 0, 0.08); // default card shadow