.action-cards-block{
	display: flex;
	overflow: hidden;
	height: 270px;
	width: 100%;
	position: relative;

	.block-item{
		position: absolute;
		left: 0;
		top: 0;
		width: 446px;
		flex: none;
		transition: all .5s;
		height: 100%;

		+ .block-item{
			margin-left: 30%;
		}

		&:hover{
			&:not(:first-child){
				@media screen and (max-width: 767px){
					transform: translateX(-120px);
				}
				@media screen and (min-width: 768px){
					// &:not()
				}
			}

			+ .next{
				transform: translateX(60%);
			}
		}
	}
}

.action-card{
	background: #181A1D;
	position: relative;
	color: #fff;
	padding: 40px 60px 65px;
	height: 100%;

	&.dark{
		background: #181A1D;
	}

	&.red{
		background: $primary;
	}

	&:before{
		content: '';
		display: block;
		width: 220px;
		height: 100%;
		background: url(../img/decorations/card-leaves.svg) no-repeat right top / contain;
		position: absolute;
		right: 0;
		top: 0;
	}

	.card-logo{
		margin-bottom: 18px;

		img{
			height: 20px;
			width: auto;
			display: block;
		}
	}

	.card-caption{
		margin-bottom: 18px;
		font-size: 22px;
		line-height: 1.36;
		font-weight: 600;
	}

	.card-discount{
		font-weight: 800;
		font-size: 64px;
		line-height: 0.8;
	}
}