.form-field{
	position: relative;

	.input-field,
	textarea,
	select{
		border: 1px solid rgba($primary, .3);
		appearance: none;
		border-radius: 25px;
		flex: auto;
		height: 50px;
		font-size: 16px;
		color: $text-color;
		font-family: $main-font;
		font-weight: 400;
		padding: 0 28px;
		outline: none !important;
		transition: all $t;
		width: 100%;

		&::placeholder{
			color: rgba($text-color, .7);
			opacity: 1;
			transition: all $t;
		}

		&:focus{
			border-color: $primary;

			&::placeholder{
				opacity: 1;
			}
		}

		@media screen and (max-width: 575px){
			font-size: 14px;
		}
	}

	textarea{
		resize: none;
		padding: 15px;
		height: 120px;
	}

	select{
		position: relative;
		width: 100%;
		display: block;
		color: rgba($text-color, .7);
		padding-right: 60px;

		background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='274' height='450' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M114 137v235l-75-75c-9-9-24-9-32 0-9 9-9 23 0 32l114 114a22 22 0 0032 0l114-114c5-5 7-11 7-16 0-6-2-12-7-16-9-9-23-9-32 0l-75 75V137c0-13-10-23-23-23s-23 10-23 23zm46-114a23 23 0 00-39-16 23 23 0 0032 32c4-4 7-10 7-16z' fill='%23000'/%3e%3c/svg%3e") no-repeat calc(100% - 26px) center / contain;
		background-size: 9px 14px;

		&.primary-bg{
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='274' height='450' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M114 137v235l-75-75c-9-9-24-9-32 0-9 9-9 23 0 32l114 114a22 22 0 0032 0l114-114c5-5 7-11 7-16 0-6-2-12-7-16-9-9-23-9-32 0l-75 75V137c0-13-10-23-23-23s-23 10-23 23zm46-114a23 23 0 00-39-16 23 23 0 0032 32c4-4 7-10 7-16z' fill='%23fff'/%3e%3c/svg%3e") no-repeat calc(100% - 26px) center / contain;
			background-size: 9px 14px;
				background-color: $primary;
				color: #fff !important;
		}

		&:before{
			content: '';
			display: block;
			width: 9px;
			height: 14px;
			position: absolute;
			right: 26px;
			top: 50%;
			transform: translateY(-50%);
		}

		&.changed{
			color: $text-color;
		}
	}
}

.form{
	.form-row{
		margin-bottom: 23px;

		&:last-child,
		&.last{
			margin-bottom: 0 !important;
		}

		&.columns-2{
			display: flex;
			width: calc(100% + 9px * 2);
			margin-left: -9px;
			margin-right: -9px;
			margin-bottom: 0;

			.column{
				padding: 0 9px;
				margin-bottom: 23px;
				width: 50%;
			}

			@media screen and (max-width: 575px){
				flex-direction: column;

				.column{
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}

		@media screen and (max-width: 575px){
			margin-bottom: 15px;
		}
	}

	.form-note{
		margin-bottom: 15px;
		font-size: 14px;

		a{
			color: $primary;
			text-decoration: none;

			&:hover{
				color: $text-dark;
				text-decoration: underline;
			}
		}
	}
}

.order-form{
	margin-top: 15px;
}

.checkbox{
	display: block;

	input{
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	.checkbox-label{
		display: block;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		font-size: 14px;
		line-height: 20px;

		a{
			color: $primary;
			text-decoration: underline;

			&:hover,
			&:focus{
				outline: none !important;
				text-decoration: none;
			}
		}

		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border: 1px solid $primary;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0px;
			transition: all $t;
		}

		&:after{
			content: '';
			display: block;
			width: 9px;
			height: 5px;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			position: absolute;
			top: 6px;
			left: 6px;
			opacity: 0;
			transition: all $t;
		}
	}

	input:checked{
		+ .checkbox-label{
			&:before{
				background: $primary;
			}

			&:after{
				transform: rotate(-45deg);
				opacity: 1;
			}
		}
	}
}