.image-with-border{
	position: relative;

	&:before{
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		pointer-events: none;
		width: calc(100% - 25px * 2);
		height: calc(100% - 15px * 2);
		left: 25px;
		top: 15px;
		border: 6px solid rgba(#fff, .5);
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}