.our-team-section{
	padding: 80px 0 55px;

	.section-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 55px;
		
		.item{
			padding: 0 10px;
		}
	}

	.team-list{
		margin-bottom: -60px;

		.item{
			margin-bottom: 60px;
		}
	}

	@media screen and (max-width: 991px){
		padding: 50px 0;
	}

	@media screen and (max-width: 767px){
		.section-header{
			.btn{
				padding-left: 30px;
				padding-right: 30px;
				white-space: nowrap;
			}
		}
	}

	@media screen and (max-width: 575px){
		.section-header{
			flex-direction: column;

			.item:not(:last-child){
				margin-bottom: 30px;
			}

			.btn{
				width: 220px;
			}
		}
	}
}

.big-team-card{
	width: calc(100% - 92px);
	padding: 30px 0 30px 25px;
	background: #fff;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	border: 6px solid rgba(#D6DEE2, .42);
	transition: all $t;
	border-radius: 3px;

	.card-image{
		margin-right: -92px;
		margin-bottom: -40px;
		border: 12px solid #EFEFEF;
		box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42);
		border-radius: 50%;
		width: 210px;
		height: 210px;
		position: relative;
		flex: none;
		background: #fff;
		transition: all $t;

		img{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 185px;
		}

		&:before{
			content: '';
			display: block;
			width: 146px;
			height: 67px;
			position: absolute;
			right: -20px;
			top: -20px;
			background: url(../img/decorations/leaves.svg) no-repeat center center / contain;
			z-index: -2;
		}
	}

	.card-content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 195px;
	}

	.card-top{
		margin-bottom: 20px;

		p{
			font-size: 14px;
			line-height: 22px;
			color: #7E7E7E;
		}

		.card-name{
			font-size: 18px;
			line-height: 22px;
			font-weight: 600;
			color: $text-dark;
		}
	}

	.card-footer{
		.btn{
			padding-left: 40px;
			padding-right: 40px;

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}
		}
	}

	.card-experience{
		font-size: 14px;
		line-height: 20px;
		font-weight: 600;
		color: $text-dark;
		margin-top: 10px;
	}

	&:hover{
		border-color: #fff;
		box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42);

		.card-image{
			border-color: #ECBCBC;
		}
	}

	@media screen and (max-width: 767px){
		width: 100%;
		margin-top: 120px;
		flex-direction: column-reverse;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;

		.card-image{
			order: 1;
			margin-top: -120px;
			margin-bottom: 0;
			margin-right: 0;
			margin-bottom: 20px;
		}

		.card-content{
			text-align: center;
			min-height: unset;
		}

		.card-footer{}
	}
}