.our-works-section{
	padding: 100px 0 60px;

	.section-inner{
		display: flex;
		align-items: flex-end;
	}

	.section-content{
		width: 620px;
		margin-right: 20px;
		flex: none;
	}

	.section-sliders{
		flex: auto;
		display: flex;
		width: 620px;
		position: relative;

		.left{
			width: 100%;
			height: 100%;
		}

		.right{
			flex-direction: column;
			width: 512px;
			height: 100%;
			position: absolute;
			left: calc(100% + 20px);

			.item{
				margin-bottom: 20px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.section-caption{
		.sc-subtitle{
			max-width: 380px;
		}
	}

	.section-footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 480px;
		margin-top: 40px;
		margin-bottom: 50px;
	}

	@media screen and (max-width: 1299px){
		.section-content{
			// width: 400px;
			width: calc(100% - 330px);
		}

		.section-sliders{
			width: 300px;

			.left{
				display: none;
			}

			.right{
				width: 100%;
				position: static;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 50px 0;
	}

	@media screen and (max-width: 767px){
		.section-inner{
			flex-direction: column;
			align-items: stretch;
		}

		.section-content{
			width: 100%;
		}

		.section-sliders{
			display: none;
		}

		.section-mobile-slider{
			width: 100%;
		}

		.section-footer{
			padding-right: 0;
			max-width: unset;
		}
	}

	@media screen and (max-width: 575px){
		.section-caption{
			// margin-bottom: 15px;
		}

		.section-footer{
			flex-direction: column;
			align-items: flex-start;
			margin-top: 15px;

			.item{
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}
			}

			.item:nth-child(2){
				align-self: flex-end;
			}
		}
	}
}

.works-slider{
	width: 100%;
	margin: 0;

	.slide{
		padding: 0;
		overflow: hidden;
	}

	&.first{
		@media screen and (max-width: 1299px){
			img{
				width: 100%;
				height: 350px;
				object-fit: cover;
				object-position: center center;
				font-family: 'object-fit: cover; object-position: center center;';
			}
		}
	}
}


.mobile-works-slider{
	width: 780px;
	margin-left: -10px;
	margin-right: calc(-780px + 523px - 10px);

	.slide{
		padding: 0 10px;

		img{
			display: block;
			width: 240px;
			height: 210px;
			object-fit: cover;
			object-position: center center;
			font-family: 'object-fit: cover; object-position: center center;';
		}
	}
}