.welcome-section{
	padding: 80px 0;
	position: relative;

	.section-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
			font-family: 'object-fit: cover; object-position: center center;';
		}
	}

	&.white-bg{
		background: #fff;

		.section-bg{
			display: none;
		}
	}

	.container{
		position: relative;
	}

	.section-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.section-content{
		width: 100%;
		max-width: 535px;
		margin-right: 105px;
	}

	.section-text{
		margin-bottom: 75px;
	}

	.section-slider{
		flex: auto;
		height: 620px;
		position: relative;

		.photos-slider{
			position: absolute;
			width: 1024px;
			margin-left: -10px;
			margin-right: -10px;
			
			.slide{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.photos-slider-nav{
			position: absolute;
			z-index: 2;
			bottom: 75px;
			right: calc(67px + 67px);
		}
	}

	@media screen and (max-width: 1299px){
		.section-content{
			width: 335px;
			margin-right: 70px;
		}

		.section-slider{
			.photos-slider-nav{
				left: 180px;
				right: auto;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 50px 0 30px;

		.section-inner{
			flex-direction: column;
		}

		.section-content{
			width: 100%;
			max-width: unset;
			margin-right: 0;
			margin-bottom: 40px;
		}

		.section-text{
			margin-bottom: 25px;
		}

		.section-slider{
			height: auto;
			width: 100%;

			.photos-slider{
				width: calc(100% + 20px);
				margin-right: -33%;
				position: static;
			}

			.photos-slider-nav{
				position: static;
				justify-content: flex-end;
			}
		}
	}

	@media screen and (max-width: 575px){
		.section-slider{
			.photos-slider{
				width: calc(100% + 202px);
				margin-right: -202px;
			}
		}
	}
}

.addr-block{
	display: flex;
	align-items: center;
	font-style: normal;

	.block-addr{
		display: flex;
		align-items: center;
		margin-right: 45px;
	}

	.block-icon{
		width: 15px;
		height: 19px;
		margin-right: 13px;
		fill: #C50E0B;
		display: block;
		flex: none;
	}

	.block-text{
		p{
			font-size: 15px;
		}
	}
}