.header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	padding: 50px 0;
	width: 100%;
	transition: all $t;

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		
		.header-block{
			padding: 0 10px;

			&.flex{
				display: flex;
				align-items: center;
			}
		}
	}

	.inner-page &{
		padding: 47px 0 30px;
		background: #fff;
		box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42);
	}

	&.sticky{
		padding: 10px 0;
		background: #fff;
		box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42);
	}

	@media screen and (max-width: 767px){
		padding: 18px 0;
	}
}

.mobile-top-nav{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	background: #fff;
	padding: 150px 30px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -1;
	transition: all $t;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100%);

	.mobile-nav{
		text-align: center;
	}

	.sticky &{
		padding-top: 95px;
	}

	&.opened{
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	.phone-link{
		margin-bottom: 15px;
	}

	.nav-content{
		text-align: center;
	}
}

.mobile-nav{
	margin-bottom: 70px;

	&:last-child{
		margin-bottom: 0;
	}

	li{
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			color: $text-dark;
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}
}

.top-nav{
	ul{
		list-style: none;
		display: flex;
		
		li{
			margin-right: 40px;

			&:last-child{
				margin-right: 0;
			}

			a{
				font-size: 16px;
				line-height: 1.2;
				color: $text-dark;

				&:hover{
					color: $primary;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				a{
					color: $primary;
				}
			}
			
			&.current-menu-item{
				a{
					cursor: default;
				}
			}
		}

		@media screen and (max-width: 1299px){
			li{
				margin-right: 20px;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.logo-block{
	display: flex;

	img{
		height: 53px;
		display: block;
		width: auto;
		transition: all $t;

		.sticky &{
			height: 40px;
		}

		@media screen and (max-width: 1299px){
			height: 40px;
		}

		@media screen and (max-width: 575px){
			height: 34px !important;
		}
	}
}

.phone-block{
	display: flex;
	align-items: center;
}

.phone-link{
	margin-right: 20px;
	flex: none;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
	color: #161616;

	&:hover{
		color: $primary;
	}
}

.whatsapp-link{
	flex: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid $primary;
	display: flex;
	align-items: center;
	justify-content: center;

	.link-icon{
		fill: $primary;
		width: 16px;
		height: 16px;
		transition: all $t;
	}

	&.small{
		width: 16px;
		height: 16px;
		border: 0;
		border-radius: 0;
	}

	&:hover{
		background: $primary;

		.link-icon{
			fill: #fff;
		}
	}

	.sticky &{
		height: 40px;
		width: 40px;
	}

	@media screen and (max-width: 1299px){
		// width: 40px;
		// height: 40px;
	}
}